
/.fleet
/.nova
/.phpunit.cache
/.zed
/auth.json
/public/storage
/storage/pail
Homestead.json
Homestead.yaml
/vendor/
composer.phar
.phpunit.result.cache
.phpactor.json
.env
.env.*.local
.env.production
/node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
/public/hot
/public/build/
/.vite/
public/storage
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/.vscode/
/.idea/
/*.sublime-workspace
/*.sublime-project
.DS_Store
Thumbs.db
.env.backup
*.local
*.log

